@font-face{
font-family: 'transformer';
src: url(transformerFont.ttf);
}
*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'transformer';
}


body{
background-color: #08021A;
color: #DCFDFD;
}

header{
display: flex;
justify-content: center;
align-items: center;
padding: 10px 0;
border-bottom: 2px solid #DCFDFD;
font-size: 25px;
}

button{
border: 2px solid black;
border-radius: 20px;
padding: 6px;
font-size: 17px;
}

#optionsContainer h1{
font-size: 25px;


}

#mainOptionContainer{
margin:5px;
border: 2px solid #DCFDFD;
background-color: #173445;
display: flex;
flex-direction: column;
gap: 5px;
align-items: center;
border-radius: 50px;
margin: 7px;
padding: 10px;
}


#mainOptionContainer{
display: flex;
}

#optionsContainer2{
display: none;
flex-direction: row;
justify-content: center;
}

#EASContainer{
border: 1px solid black;
display: none;
width: 650px;
height: 580px;
flex: 0;
border: 2px solid #5494CF;
margin: auto;
box-shadow: 10px 10px 20px #5494CF;
}

.painted{
background-color: black;
}


.notPainted{
background-color: white;
color:white;
}

.paintMode,.eraseMode, .rainbowMode{
background-color: #233539;
color: white;
border:2px solid white;
}


footer{
bottom: 0;
margin-top: 10px;
border-top:2px solid white;
background-color: #021235;
display: none ;
justify-content: center;


}
